body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ecf0f3;
}

.container {
  width: 45%;
  height: 60vh;
  padding: 10px;
  border-radius: 8px;

  box-shadow: 12px 12px 20px #cbced1, -12px -12px 20px #ffffff;
}

.heading {
  margin-left: 10%;
}

.sub-heading {
  margin-left: 53%;
  font-weight: 400;
}
.display #screen {
  width: 97.3%;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  padding-right: 0.5em;
  background-color: #ecf0f3;
  border-radius: 6px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.btns {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btns .row button {
  width: 85px;
  height: 35px;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffffff;
}

.row button:hover {
  box-shadow: inset 5px 5px 8px rgba(16, 16, 16, 0.1), inset -5px -5px 8px #fff;
  background: #fff;
}

#ce {
  background: #ff3399;
  /* background: red; */
  color: #fff;
}

#ce:hover {
  box-shadow: inset 5px 5px 8px #e60073, inset -5px -5px 8px #ff3399;
}

#ac {
  background: #33cc33;
  color: #fff;
}
#ac:hover {
  box-shadow: inset 5px 5px 8px #2eb82e, inset -5px -5px 8px #33cc33;
}

#eval {
  background: #33ccff;
  color: #fff;
  box-shadow: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
}

#eval:hover {
  box-shadow: inset 5px 5px 8px #00ace6, inset -5px -5px 8px #00ace6;
}
